@import "./reset";
@import "./variables";


// index background page
.back-index {
    min-height: 100vh;
    background-size: auto;
    background-attachment: fixed;
    background-image: url("./pictures/album-Mañana-Será-Bonito.jpg");
}

// index header 
.index-header {

    &-img {
        background-color: #b3ebedf8;
        padding: 16px;
        @include content-flex (0, row, space-between, center);

        .index-header__container {
            width: 192px;
        }

        .index-header__img {
            width: 100%;
            height: 100%;
        }

        .index-header__container--edit {
            width: 80px;
        }

        .index-header__container--hidden {
            width: 80px;
            visibility: hidden;
        }
    }

}




// index main
.main-index {


    .txt--img {
        padding: 80px 0;
    }

    .txt {
        @include content-flex (40vh, column, space-around, center);
    }

    .txt--first_section {
        background-color: #d492a0ec;

        .txt__title1 {
            text-shadow: -0.1em 0em #B3EBED;
            font-size: 4rem;
        }

        .txt__title2 {
            text-shadow: -0.1em 0em #7608089e;
            font-size: 3.5rem;

        }
    }

    .txt--second_section {

        background-color: #daf6dabc;
        padding: 50px;

        .txt__paragraph {
            padding: 50px;
            font-size: 3rem;
            color: #544870;
            text-align: center;
        }

        .txt__link {
            border: 3px solid #92425387;
            background-color: #d492a07c;
            border-radius: 60px;
            font-size: 2.5rem;
            color: rgba(0, 0, 0, 0.774);
            padding: 30px;
            transition: 0.4s;


            &:active {
                color: black
            }

            &:hover {
                background-color: #d492a0c1;
                font-size: 1.9rem;
                text-shadow: -2px 0 rgba(233, 163, 72, 0.886);
                color: rgb(0, 0, 0);
            }

        }
    }


}


// index footer

.footer-index {


    @include footer (#7d5f5f9f);

    &__element {
        @include footer__element (#EDEFED);
    }

    &__element--link:active {
        color: #EDEFED;
    }

    &__element--link:hover {

        font-size: 1.1rem;
        color: rgba(233, 163, 72, 0.886);
    }
}







// index media-quiery


@media (max-width: 768px) {

    .index-header__container--hidden {
        .header__img {
            visibility: visible;
        }

    }



}

@media (max-width: 550px) {

    .index-header__container--hidden {
        .header__img {
            visibility: hidden;
        }

    }

    .main-index {
        .txt--second_section {
            .txt__paragraph {
                font-size: 2rem;
                padding: 1rem 0.5rem;
            }

            .txt__link {
                padding: 10px;
            }
        }
    }
}